name: 'Build'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '25'
          cache: 'yarn'
      - name: Install Yarn v1
        run: npm install -g yarn@1
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Build and test
        run: yarn build
